/**************************************
carousel.css
***************************************/

$blue: #1473E6;
$gray: #999;
$bordergray: #ccc;
$fontArial: 'Arial', sans-serif;

.swiper-carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
	max-width: 1139px;
	margin: 0 auto;

	.top_feature_carousel {
		padding-bottom: 24px;

		.swiper-slide {
			list-style: none;

			.carousel-item {
				width: 30%;
				margin-left: auto;
				height: auto;

				&:nth-of-type(4n+1) {
					width: calc(70% - 48px);
					margin-right: 48px;
					float: left;
				}

				&:not(:nth-of-type(4n+1)) {
					margin-top: 24px;
					display: flex;

					.eyecatch {
						width: 46%;
						margin-right: 12px;
						max-height: 132px;
					}

					.detail__container {
						margin-top: 0;
						width: calc(100% - (46% + 12px));

						h3 {
							font-size: 18px;
							line-height: 1.5;
						}
					}
				}

				&:nth-of-type(4n+2) {
					margin-top: 0;
				}

				.detail__container {
					margin-top: 20px;

					.container__tag {
						display: flex;
						align-items: center;

						.cat_name {
							border: 1px solid $blue;
							padding: 5px 10px;
							min-width: 87px;
							text-align: center;
							font-family: $fontArial;
							color: $blue;
							font-size: 11px;
							font-weight: bold;
							letter-spacing: 0.03em;
							text-transform: uppercase;
							box-sizing: border-box;
						}

						.tag_name {
							margin-left: 12px;
							font-family: $fontArial;
							color: $gray;
							font-size: 12px;
							letter-spacing: 0.03em;
							font-weight: bold;
						}
					}

					h3 {
						margin-top: 12px;
						font-size: 24px;
						line-height: 1.6;
					}

					.container__date,
					.btn__link {
						display: none;
					}
				}
			}
		}
	}
}


@media screen and (min-width: 786px) and (max-width: 1139px) {	
	.swiper-carousel {
		.top_feature_carousel {
			.swiper-slide {

				.carousel-item {
					width: 40%;

					&:nth-of-type(4n+1) {
						width: calc(60% - 30px);
						margin-right: 30px;
					}

					&:not(:nth-of-type(4n+1)) {

						.eyecatch {
							width: 50%;
							margin-right: 12px;
						}

						.detail__container {
							margin-top: 0;
							width: calc(100% - (50% + 12px));

							h3 {
								font-size: 15px;
							}
						}
					}

					&:nth-of-type(4n+2) {
						margin-top: 0;
					}

					.detail__container {
						margin-top: 20px;

						.container__tag {
							display: flex;
							align-items: center;

							.cat_name {
								border: 1px solid $blue;
								padding: 5px 10px;
								min-width: 87px;
								text-align: center;
								font-family: $fontArial;
								color: $blue;
								font-size: 11px;
								font-weight: bold;
								letter-spacing: 0.03em;
								text-transform: uppercase;
								box-sizing: border-box;
							}

							.tag_name {
								margin-left: 12px;
								font-family: $fontArial;
								color: $gray;
								font-size: 12px;
								letter-spacing: 0.03em;
								font-weight: bold;
							}
						}

						h3 {
							font-size: 21px;
							line-height: 1.5;
						}
					}
				}
			}
		}
	}
}


/******************************
    SP
*******************************/

@media screen and (max-width: 786px) {
	.swiper-carousel {
		margin: 0 auto;
		max-width: calc(100% - 24px);

		.top_feature_carousel {
			display: block;

			.swiper-slide {
				.carousel-item {
					display: flex;
					width: 100%;
					margin-top: 0;
					padding: 12px 0;
					border-bottom: 1px solid $bordergray;

					.eyecatch {
						width: 46%;
						margin-right: 12px;
					}

					.detail__container {
						margin-top: 0;
						width: calc(100% - (46% + 12px));

						h3 {
							font-size: 14px !important;
							line-height: 1.5 !important;
						}
					}

					&:nth-of-type(4n+1) {
						width: 100%;
						margin-right: 0;

						.eyecatch {
							padding-top: 40%;
						}

						.detail__container {
							margin-top: 0;
						}
					}

					&:not(:nth-of-type(4n+1)) {
						margin-top: 0;

						.eyecatch {
							padding-top: 40%;
							max-height: none;
						}
					}

					&:nth-of-type(4n+2) {
						margin-top: 0;
					}

					.eyecatch {
						height: 0;
						padding-top: 50%;
					}

					.detail__container {
						margin-top: 20px;

						.container__tag {
							display: flex;
							align-items: center;

							.cat_name {
								padding: 5px 8px;
								font-size: 10px;
								line-height: 1;
							}

							.tag_name {
								margin-left: 6px;
								font-size: 10px;
							}
						}

						h3 {
							margin-top: 12px;
							font-size: 24px;
							line-height: 1.6;
						}

						.container__date {
							margin-top: 10px;
							display: block;

							.time_data,
							.duration_data {
								position: relative;
								padding-left: 18px;
								font-size: 12px;

								&::before {
									content: '';
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									left: 0;
									display: block;
									width: 13px;
									height: 13px;
									background-size: 100% auto;
									background-repeat: no-repeat;
								}
							}

							.time_data {
								&::before {
									background-image: url('../img/ico_clock.png');
								}
							}

							.duration_data {
								margin-left: 12px;

								&::before {
									background-image: url('../img/ico_time.png');
								}
							}
						}

						.btn__link {
							margin-top: 10px;
							margin-left: auto;
							display: flex;
							align-items: center;
							justify-content: center;
							width: 90px;
							padding: 6px 0;
							background: $blue;
							color: #fff;
							font-size: 11px;
							letter-spacing: 0.03em;
							border-radius: 34px;
						}
					}
				}

				&:first-child {
					.carousel-item {
						&:first-child {
							flex-direction: column;

							.eyecatch {
								width: 100%;
								margin-right: 0;
							}

							.detail__container {
								width: 100%;
								margin-top: 6px;
							}
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 365px) {
	.swiper-carousel {
		.top_feature_carousel {
			.swiper-slide {
				.carousel-item {
					.detail__container {
						.container__date {
							.time_data,
							.duration_data {
								display: block;
							}

							.duration_data {
								margin-top: 5px;
								margin-left: 0;
							}
						}
					}
				}

				&:first-child {
					.carousel-item {
						&:first-child {
							.detail__container {
								.container__date {
									.time_data,
									.duration_data {
										display: inline-block;
									}

									.duration_data {
										margin-top: 0;
										margin-left: 12px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}